{% extends "base.html" %}

{% block title %}Add note{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/add">Add text note</a></li>
{% endblock %}

{% block bar %}
<div class="well well-small">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

<form id="add_form" method="post" action="/add/">{% csrf_token %}
    <div id="error_list"></div>
{{ form.as_p }}
<span id="push_form"><input type="submit" id="sbmtypeid" class="btn" value="Submit"></span>

</form>
<div id="status"></div>
</div>

{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}js/count_of_notes.js"></script>
{% endblock %}
