{% extends "base.html" %}

{% block title %}Add note{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/add">Add text note</a></li>
{% endblock %}

{% block bar %}
<div class="well well-small">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/add/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input class="btn" type="submit" value="Submit"></p>
    </form>

</div>

{% endblock %}
