{% extends "base.html" %}

{% block title %}Add note{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/add">Add text note</a></li>
{% endblock %}

{% block bar %}
    <div class="well well-small">

<form id="add_form" method="post" action="/add/" enctype="multipart/form-data">{% csrf_token %}
    <div class="error_list"></div>
        {{ form.as_p }}
        </br>
        <span id="push_form"><input type="button" class="btn btn-small" value="Save note"></span>
        <input id="Reset" type="reset" style="display:none">
</form>

<form id="add_formimg" method="post" action="/add/" enctype="multipart/form-data">{% csrf_token %}
    <div class="error_list"></div>
        {{ formimg.as_p }}        
        <span id="push_formimg"><input type="button" id="pushimg" style="display:none"  value="Save"></span>
        <input id="Resetimg" type="reset" style="display:none">
</form>




<div class="progress progress-striped active">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
<div id="status"></div>

    </div>

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}js/js_amount_of_symbols.js"></script>
<script src="{{ STATIC_URL }}js/js_of_noteapp.js"></script>
{% endblock %}
